<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= htmlWebpackPlugin.options.title %></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>" />
        <meta property="og:url" content="https://andrevenancio.github.io/labs/<%= htmlWebpackPlugin.options.title %>.html" />
        <meta property="og:image" content="https://andrevenancio.github.io/labs/thumbs/<%= htmlWebpackPlugin.options.title %>.png" />
        <meta property="og:image:width" content="800" />
        <meta property="og:image:height" content="600" />
        <meta property="og:description" content="Collection of experiments" />
        <meta property="og:site_name" content="Labs"/>

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@andrevenancio" />
        <meta name="twitter:creator" content="@andrevenancio" />
        <meta name="twitter:url" content="https://andrevenancio.github.io/labs/<%= htmlWebpackPlugin.options.title %>.html" />
        <meta name="twitter:title" content="Labs" />
        <meta name="twitter:description" content="Collection of experiments" />
        <meta name="twitter:image" content="https://andrevenancio.github.io/labs/thumbs/<%= htmlWebpackPlugin.options.title %>.png" />
        <meta name="twitter:image:width" content="800" />
        <meta name="twitter:image:height" content="600" />
        <style>
            html, body {
                margin: 0;
                background-color: #fff;
                font-family: sans-serif;
                font-size: 14px;
                -moz-osx-font-smoothing: grayscale;
                -webkit-font-smoothing: antialiased;
            }

            canvas {
                display: block;
                background-color: #000;
            }

            h1, p, nav {
                padding: 2em 2em 0 2sem;
                margin: 0;
            }

            sup {
                font-size: x-small;
                padding-left: 2px;
                color: #f00;
            }

            a {
                display: inline-block;
                color: #999;
                text-decoration: none;
                line-height: 20px;
            }

            a:hover {
                color: #fff;
            }

            a.back,
            a.source {
                position: fixed;
                background-color: rgba(255, 255, 255, 0.05);
                padding: 3px 6px;
                border-radius: 4px;
                font-family: monospace;
                font-size: 12px;
            }

            a.back:hover,
            a.source:hover {
                background-color: rgba(255, 255, 255, 0.1);
            }

            a.back {
                top: 20px;
                left: 20px;
            }

            a.source {
                bottom: 20px;
                right: 20px;
            }

            a.thumb {
                display: inline-block;
                width: 200px;
                overflow: hidden;
            }

            a.thumb img {
                width: 100%;
                height: auto;
            }

            a.thumb span {
                display: none;
            }

            body.hide .dg,
            body.hide .back,
            body.hide .source {
                display: none;
            }
        </style>
        <script src="js/CCapture.all.min.js"></script>
    </head>
    <body>
        <% if(htmlWebpackPlugin.options.paths){ %>
        <nav>
            <% Object.keys(htmlWebpackPlugin.options.paths).forEach(function(prop) { %>
                <a href="./<%- htmlWebpackPlugin.options.paths[prop] %>" class="thumb">
                    <span><%- prop %></span>
                    <img src="thumbs/<%- prop %>.png" />
                </a>
            <% }); %>
        </nav>
        <% } else { %>
        <a href="./" class="back">back</a>
        <a href="https://github.com/andrevenancio/labs/blob/master/src/<%= htmlWebpackPlugin.options.title %>/index.js" class="source">source</a>
        <script type="text/javascript" src='js/<%= htmlWebpackPlugin.options.title %>.js'></script>
        <% } %>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-46159137-10"></script>
        <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-46159137-9');</script>
    </body>
</html>
